.flag {
  display: block;
  font-size: 30px;
  margin-top: 10px;
}
.proposition {
  width: 100%;
  font-style: normal;
  margin-top: 10px;
  padding: 2px;
}

.pt-icon-small-tick {
  color: #27ae60;
}
